.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: var(--form-text);
  background-color: var(--form-bg);
}

.title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: var(--form-text);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.field {
  display: flex;
  flex-direction: column;
}

.button {
  padding: 0.5rem;
  background-color: var(--button-bg);
  border: none;
  color: var(--button-text);
  border-radius: 4px;
  font-size: 1rem;
}

.button:hover {
  background-color: var(--button-hover-bg);
}

.input {
  width: 80vw;
  max-width: 600px;
  padding: 10px;
  font-size: 1rem;
  box-sizing: content-box;
  border-radius: 5px;
  border: 1px solid var(--input-border);
  background-color: var(--input-bg);
  color: var(--input-text);
  appearance: none;
  outline: none;
}

.input:focus {
  border: 0.15rem solid var(--input-border-focus);
  box-shadow: none;
}

.linkText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  text-align: center;
  gap: 0.5rem;
}

.pText {
  font-size: 1.3rem;
  color: var(--form-text);
}

.link {
  color: var(--link-text);
  text-decoration: none;
  background-color: var(--link-bg);
  padding: 0.7rem;
  border-radius: 20px;
  font-size: 1rem;
}

.message {
  color: var(--error-text);
  text-align: center;
}

.hr {
  border: none;
  border-top: 2px solid var(--hr-color);
  margin: 20px 0;
  width: 100%;
}

.invalid {
  border: 1px solid var(--error-border);
}

.error {
  color: var(--error-text);
  font-size: 0.9rem;
  margin-top: 4px;
}
